.text,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  line-height: 120%;
  display: inline-block;
  height: 38px;
  flex-shrink: 0;
}
.text {
  line-height: 150%;
}
.imageIcon {
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vpOfCompany {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.author,
.content,
.quote {
  align-items: center;
  justify-content: flex-start;
}
.author {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-base);
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
}
.content,
.quote {
  flex-direction: column;
}
.quote {
  align-self: stretch;
  display: flex;
  gap: var(--gap-33xl);
}
.content {
  background-color: var(--color-white);
  border: 1px solid var(--color-aliceblue);
  padding: var(--padding-5xl);
}
.column,
.columns,
.content {
  align-self: stretch;
  display: flex;
}
.column {
  width: 298.67px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.columns {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.testimonialColumnLight,
.titleParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.titleParent {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
  gap: 40px;
}
.testimonialColumnLight {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  padding: 64px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 650px) {
  .columns {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
